:root{
    --branco-principal: #e23434;
    --botao-azul: #167BF7;
    --cor-de-fundo: #000000;
    --cor-secundario:#d83a3a;
    --fonte-principal: 'Holtwood one sc' ;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

.principal{
    background-image: url("image.png");
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    align-items: center;

}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}
.container__botao{
    background-color:var(--botao-azul) ;
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration:double;
    margin-bottom: 1em;

}
.container__aviso{
    font-size: 12px;
    color: var(--botao-azul);
}

.container_titulo{
    font-size: 28px;
    font-weight: 700;
}
.container__image{
    margin: 1em 0 2em 0;
}
.container__caixa{
    margin: 0 6em;
}

.secundaria__imagem{
    width: 80%;
}
.secundaria{
    align-items: center;
    margin: 0 15em;
}
.descricao__titulo{
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 0.2em;
}

.secundario__botao{
    display: inline-block;
    margin-top: 1em;
}
.container__descricao